{% load i18n %}

<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Temperatura do Ar' %}</small>
        <span class="badge badge-primary badge-pill">{{ conditions.temperatura_ar }}ºC</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Temperatura do Ponto de Orvalho' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.temperatura_orvalho }}ºC</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'UR' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.ur }}</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Temperatura Mínima' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.temperatura_min }}ºC</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Temperatura Máxima' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.temperatura_max }}ºC</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Vento' %}</small>
        <small class="badge badge-primary badge-pill">
            {% if conditions.dir == 'C' %}
                Calmo
            {% else %}
                {{ conditions.vento }} m/s de {{ conditions.dir }}
            {% endif %}
        </small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Pressão' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.pressao }} hPa</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Visibilidade Horizontal' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.visibilidade }}</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Nuvens Baixas' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.nuvens_baixas }}</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Nuvens Médias' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.nuvens_medias }}</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Nuvens Altas' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.nuvens_altas }}</small>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <small>{% trans 'Fenômenos Diversos' %}</small>
        <small class="badge badge-primary badge-pill">{{ conditions.diversos }}</small>
    </li>
</ul>