{% extends 'main.html' %}
{% load i18n %}

{% block content %}
<div class="col-md-4 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Condições Atuais' %}</h5>
        </div>
    </div>
</div>
<div class="col-md-8 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Meteograma' %}</h5>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Boletins e Relatórios' %}</h5>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Museu de Meteorologia' %}</h5>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Instrumentos' %}</h5>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Solicitação de Dados' %}</h5>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Explorando a Meteorologia' %}</h5>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Cursos' %}</h5>
        </div>
    </div>
</div>  
{% endblock content%}