{% extends 'main.html' %} {% block content %}
<h1>Museu de Meteorologia</h1>
<hr />

<h2>A História da Estação Meteorológica</h2>

<p>
  A Estação Meteorológica foi a precursora dos serviços regulares do Instituto
  Astronômico e Geofísico no Parque do Estado, bairro da Água Funda. Foi
  inaugurada em 22 de novembro de 1932, no local onde se realizavam as obras do
  novo Observatório Astronômico de São Paulo, e onde permanece até hoje. Tinha
  por finalidade substituir a Estação Meteorológica Central da rede de estações
  do Serviço Meteorológico do Estado de São Paulo, na época instalada no antigo
  Observatório de São Paulo situado na Avenida Paulista No.69, que era a sede do
  referido Serviço. A Estação Meteorológica Central do Serviço Meteorológico
  tinha iniciado suas observações em 1895, instalada no teto do edifício da
  Escola Normal da Praça da República, hoje Secretaria da Educação do Estado de
  São Paulo. Ali permaneceu até 1912, quando foi transferida para o observatório
  de São Paulo da Avenida Paulista. No passado, quando se fez a escolha do local
  para a construção do antigo Observatório de São Paulo, foi levada em
  consideração a existência de um Posto Meteorológico da Comissão Geográfica e
  Geológica do Estado de São Paulo, que funcionava desde 1902 na residência do
  Dr. José Nunes Belfort Mattos (funcionário da Comissão e que mais tarde viria
  a ser o Diretor do Observatório de São Paulo), situado na Avenida Paulista no
  101, com o nome de "Observatório da Avenida", onde também eram realizadas
  observações astronômicas. Desse modo, as observações meteorológicas iniciadas
  em 1902 teriam continuidade na Estação Meteorológica Central, com
  aproveitamento da série climatológica já existente.
</p>

<p>
  Com a decisão de se transferir o antigo Observatório de São Paulo para o
  Parque do Estado, foi necessário tomar precauções para que a série
  climatológica obtida na Avenida Paulista não perdesse a conexão com uma nova
  série que viria a ser iniciada naquele local, realizando observações horárias
  conjuntas por um período de pelo menos dois anos seguidos, o que foi feito
  entre 1932 e 1936. No caso da série pluviométrica, isto foi de fundamental
  importância pois, em um estudo posterior da correlação entre os dois postos
  pluviométricos, foi encontrado um coeficiente bem próximo da unidade, o que
  permitiu a conexão das duas séries que juntas abrangem um período de noventa
  anos caracterizando uma das poucas séries pluviométricas de longo período
  existentes no Brasil. Convém lembrar também, que a referida série de totais
  mensais, não apresenta nenhuma lacuna em toda sua extensão. Em 1941, com a
  encampação dos Serviços Meteorológicos Estaduais pelo Governo Federal, a
  Estação Meteorológíca do IAG-USP deixou de fazer parte da rede, permanecendo
  como estação isolada, mais direcionada para a pesquisa.
</p>
<p>
  A Estação Meteorológica encontra-se registrada junto à Organização
  Meteorológica Mundial sob o número 83004. Ela é constituída de um cercado
  meteorológico, de um conjunto de salas no terraço do edifício da administração
  do Parque de Ciência e Tecnologia da USP e de uma torre no alto deste mesmo
  edifício. Em termos geográficos, tanto o cercado quanto o edifício
  encontram-se nos arredores de um marco correspondente à latitude 23°39'S e à
  longitude 46°37'W. Estas instalações tem sido praticamente as mesmas desde o
  início de nossas atividades, na remota manhã de 22 de novembro de 1932.
</p>
<p>
  Além de coletar, tratar e disseminar suas observações de superfície, e de
  receber visitantes de todas as faixas escolares ao longo do ano, a Estação
  Meteorológica tem auxiliado nas aulas práticas do curso de Bacharelado em
  Meteorologia da USP.
</p>
<p>
  Com o objetivo de preservar a história da Estação Meteorológica do IAG-USP,
  foi fundado oficialmente, em 22 de Novembro de 2012, o Museu de Meteorologia.
  Na ocasião, a Estação Meteorológica do IAG-USP completava 80 anos de história.
  O Museu de Meteorologia funciona no prédio 9 do Parque de Ciência e Tecnologia
  e faz parte do roteiro de visitações. Nos parágrafos a seguir,
  disponibilizados informações sobre o Museu de Meteorologia. O material foi
  organizado por Lucas Cantos, estagiário do Programa Aprender com Cultura e
  Extensão da USP.
</p>

<h2>Museu de Meteorologia - Histórico e acervo</h2>

<div class="accordion" id="accordionMuseu">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Início de serviço Meteorológico em São Paulo
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionMuseu"
    >
      <div class="card-body">
        <p>
          O astrônomo português Bento Sanches Dorta realizou as 'Observações
          Astronômicas e Meteorológicas na Cidade de São Paulo, América
          Meridional' entre 1788 e 1789, e o 'Diário Physico-Meteorológico de
          Outubro, Novembro e Dezembro de 1788 da Cidade de São Paulo', foram as
          primeiras observações meteorológicas realizadas na capital.
        </p>
        <p>
          Entre 1845 e 1858 foram realizadas as 'Observações Termométricas' pelo
          Brigadeiro José Joaquim Machado de Oliveira com duas leituras diárias
          termométricas às 6 e às 15 horas.
        </p>
        <p>
          Frei Germano de Annecy entre 1870 e 1875, fez um esboço do clima da
          capital, e Henry Joiner realizou observações meteorológicas entre 1879
          e 1882, publicadas no 'Quarterly Journal of The Royal Meteorological
          Society' em Londres.
        </p>
        <p>
          Embora tais trabalhos tenham sido bastante criteriosos, não tiveram
          sequencia perdendo assim muito de sua relevância científica na época.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Criação da CGG-Comissão Geographica e Geológica
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionMuseu"
    >
      <div class="card-body">
        <p>
          Em 27 de março de 1886 foi instituida a 'Comissão Geographica e
          Geológica', de acordo com a Lei provincial N° 9 e em 07 de Abril de
          1886 foram baixadas as "Instruções para Geographica e Geológica" e a
          partir dos serviços dessa comissão que realmente começaram a ter
          trabalhos e documentos relevantes para o Estado de São Paulo. Em 1889
          surgiram as primeiras publicações oficiais sobre Meteorologia, e o
          primeiro Mapa Pluviométrico do estado foi publicado em 1901. Para
          dirigir a Comissão Geographica e Geológica, João Alfredo, Presidente
          da Província de São Paulo (Governador), nomeou Orville Adelbert Derby,
          geólogo norte-americano com quem já fazia contatos desde 1985, sendo
          composta por:
          <ul>
            <li>Alberto Löfgren (ou Loefgren)</li>
            <li>Antonio A. Lallemant</li>
            <li>Antonio Lacerda</li>
            <li>Axel Frick</li>
            <li>Eugenio Hussak</li>
            <li>Francisco Paula de Oliveira</li>
            <li>João Frederico Washington de Aguiar</li>
            <li>Luis Gonzaga de Campos</li>
            <li>Orville Adelbert Derby (chefe)</li>
            <li>Theodoro Sampaio</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Atividades de campo da Comissão Geographica e Geológica (CGG)
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionMuseu"
    >
      <div class="card-body">
        A CGG ao longo de suas atividades criou várias instituições:
        <ul>        
            <li>Centro Tecnológico de Hidráulica-DAEE</li>
            <li>Instituto Astronômico e Geofísico (em continuidade ao Observatório de São Paulo)</li>
            <li>Instituto de Botânica</li>
            <li>Instituto Florestal</li>
            <li>Instituto Geográfico e Cartográfico</li>
            <li>Instituto Geológico</li>
            <li>Museu de Arqueologia e Etnografia</li>
            <li>Museu Paulista</li>
            <li>Museu de Zoologia</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Torre meteorológica do jardim da Luz
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionMuseu"
    >
      <div class="card-body">
        <p>
        Torre circular onde funcionou a Estação Meteorológica da Comissão Geographica 
        e Geológica de 1888 a 1894 no Jardim da Luz, posteriormente transferida para 
        o edifício da Escola Normal da Praça da República.
        </p>

        <p>
        O Jardim da Luz foi criado em 1825 no local conhecido como Campo da Luz ou Campo 
        do Guaré, e tornou-se o primeiro parque público de São Paulo, local onde foi 
        iniciada a construção da Capela Nossa Senhora da Luz, dando ao nome. 
        Já foi denominado de Jardim Botânico da Luz, Jardim Público da Luz e novamente Jardim da Luz.
        </p>

        <p>
        Era conhecida como o 'Canudo de João Teodoro' em alusão ao presidente da província de 
        São Paulo de 1982 a 1985, João Teodoro, governador do período. Dr. João Teodoro Xavier 
        de Matos foi político, Advogado, Professor de Direito, Promotor Público, Procurador 
        da Tesouraria da Fazenda, e o primeiro urbanista do Brasil, promovendo reformas 
        importantes do traçado urbano da capital de São Paulo.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Observatorio Meteorologico da Av. Paulista
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionMuseu"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Criação do IAG - Instituto Astronômico e Geofísico
        </button>
      </h2>
    </div>
    <div
      id="collapseSix"
      class="collapse"
      aria-labelledby="headingSix"
      data-parent="#accordionMuseu"
    >
      <div class="card-body">
        <p>
            Com o movimento crescente da cidade, o tráfego dos bondes na Av. 
            Paulista começou a afetar alguns instrumentos devido à trepidação, 
            e isto fez com que fosse necessário escolher um novo local para sediar o Observatório.
        </p>
        <p>
            Em vista desse sério inconveniente, foi sugerida a mudança do Observatório de 
            São Paulo para uma região mais adequada e assim, a escolha recaiu na área 
            do então denominado Parque do Estado, atual PEFI-Parque Estadual das 
            Fontes do Ipiranga, localizado no bairro Água Funda, e em 24 de fevereiro 
            de 1932, foi iniciada a construção do Instituto Astronômico e Geofísico e 
            inaugurado em 25 de abril de 1941. Em 30 de dezembro de 1946, o IAG foi 
            incorporado à Universidade de São Paulo como instituto anexo.
        </p>
        <p>
            Em vista desse sério inconveniente, foi sugerida a mudança do Observatório 
            de São Paulo para uma região mais adequada e assim, a escolha recaiu na 
            área do então denominado Parque do Estado, atual PEFI-Parque Estadual 
            das Fontes do Ipiranga, localizado no bairro Água Funda, e em 24 de 
            fevereiro de 1932, foi iniciada a construção do Instituto Astronômico e 
            Geofísico e inaugurado em 25 de abril de 1941. Em 30 de dezembro de 
            1946, o IAG foi incorporado à Escola Politécnica da Universidade de 
            São Paulo como instituto anexo.
        </p>
        <p>
            Ainda sem os prédios construídos e mesmo com as dificuldades naturais da 
            época, a partir de 1º de janeiro de 1933 iniciaram-se oficialmente as 
            atividades da Estação Meteorológica, com a realização de Observações 
            Meteorológicas de Superfície até o presente, sem qualquer interrupção.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          Prof. Abrahão de Moraes
        </button>
      </h2>
    </div>
    <div
      id="collapseSeven"
      class="collapse"
      aria-labelledby="headingSeven"
      data-parent="#accordionMuseu"
    >
      <div class="card-body">
        <p>
        Professor de Matemática Superior, Física Experimental, 
        Física Atômica, Mecânica Racional e Celeste, docente da 
        FFCL-USP, Escola Politécnica-USP, ITA, PUC, FFCL de 
        São Bento, FFCL-Mackenzie, sócio-fundador da Associação 
        de Amadores de Astronomia , e coordenou as atividades 
        programadas para o IGY-Ano Geofísico Internacional de 1957-1958.
        </p>
        <p>
        Homenagens:
        <ul>
            <li>'Auditório Abrahão de Moraes' - Instituto de Física da USP</li>
            <li>'Centro Acadêmico Abrahão de Moraes' - Instituto de Física da USP</li>
            <li>'Observatório Abrahão de Moraes' em Valinhos, São Paulo.</li>
            <li>'Avenida Prof. Abraão de Morais', a partir de 1971, no Bairro da Saúde, com dois erros de grafia.</li>
            <li>'De Moraes', cratera na Lua</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEight">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseEight"
          aria-expanded="false"
          aria-controls="collapseEight"
        >
          O Curso de Bacharelado em Meteorologia do IAG
        </button>
      </h2>
    </div>
    <div
      id="collapseEight"
      class="collapse"
      aria-labelledby="headingEight"
      data-parent="#accordionMuseu"
    >
      <div class="card-body">
        <p>
            Após a criação do Departamento de Meteorologia do 
            IAG em 1975, surgiu a ideia de oferecer algumas 
            disciplinas de Meteorologia, Astronomia e Geofísica 
            como optativas para os cursos de Física, Matemática, 
            Geografia, e Engenharia da USP. Nesse mesmo período, o 
            então diretor Prof. Dr. Giorgio Eugenio Oscare Giacaglia, 
            motivou-se para criar uma comissão que elaborasse um 
            programa disciplinar para um futuro curso de Meteorologia. 
            Nessa comissão participou ativamente o Prof. Paulo Marques 
            dos Santos que com a sua formação de Meteorologista da 
            Aeronáutica, elaborou o programa das disciplinas, e assim foi 
            oferecido pelo IAG, o Curso de Bacharelado em Meteorologia a 
            partir de 1977, atuando como professor de várias disciplinas.
        </p>
        <p>
            Atualmente a estação meteorológica participa no treinamento dos 
            alunos do Curso de Bacharelado em Meteorologia do IAG-USP e 
            de outras instituições, na metodologia das Observações 
            Meteorológicas recomendada pelos padrões e normas da 
            WMO (Organização Meteorológica Mundial) com:
        </p>
        <p>
            <ul>
                <li>Aulas Teóricas e Praticas para alunos do IAG</li>
                <li>Cursos de Treinamento de Alunos da USP e outras instituições</li>
                <li>Orientação de Estudantes em trabalhos escolares, seminários teses de mestrado e doutorado</li>
                <li>Treinamento de novos técnicos</li>
            </ul>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
