<ul class="list-group">
    <li class="list-group-item">
        <div class="btn btn-primary">
            <i class="fas fa-envelope"></i>
        </div>
         estacao.aca@iag.usp.br
    </li>
    <li class="list-group-item">
        <div class="btn btn-primary">
            <i class="fab fa-twitter-square"></i>
        </div>
         @estacao_IAG
    </li>
    <li class="list-group-item">
        <div class="btn btn-primary">
            <i class="fab fa-facebook-square"></i>
        </div>
         Estação Meteorológica do IAG-USP
    </li>
    <li class="list-group-item">
        <div class="btn btn-primary">
            <i class="fab fa-scribd"></i>
        </div>
         /estacao_IAG
    </li>
    <li class="list-group-item">
        <div class="btn btn-primary">
            <i class="fab fa-flickr"></i>
        </div>
         estacao_IAG
    </li>
</ul>
