<ul class="list-group">
    <li class="list-group-item">
        <div class="btn btn-primary">
            <i class="fas fa-phone"></i>
        </div>
        (0xx11) 5077-6344
    </li>
    <li class="list-group-item">
        <div class="btn btn-primary">
            <i class="fas fa-phone"></i>
        </div>
        (0xx11) 5077-6315
    </li>
    <li class="list-group-item">
        <div class="btn btn-primary">
            <i class="fas fa-phone"></i>
        </div>
        (0xx11) 5077-6332 (Museu de Meteorologia)
    </li>
</ul>
